{{extend 'layout.html'}}
<title>present</title>
<body>

<div id="slide" style="border-color:black;border-width:5px;width:500px;height:500px;" contenteditable="true">
       <h1>
           untitled
    </h1>
    
</div>
    
<div class="icon add-horizontal-slide show" data-tooltip="Add new slide" data-tooltip-alignment="l" data-tooltip-delay="1500">
					<span class="icon i-plus"></span>
				</div>
    <button class="icon add-horizontal-slide show">
        +
    </button>
  <script src="https://beacon-5.newrelic.com/1/4fd2e9786b?a=1563900&amp;be=5994&amp;qt=0&amp;ap=29&amp;dc=138&amp;fe=7992&amp;to=cApZREQKWl9XFxZQVlAORB9YAEE%3D&amp;v=42&amp;jsonp=NREUM.setToken&amp;perf=%7B%22timing%22%3A%7B%22of%22%3A1395764510119%2C%20%22n%22%3A0%2C%20%22dl%22%3A307%2C%20%22di%22%3A6132%2C%20%22ds%22%3A6144%2C%20%22de%22%3A6165%2C%20%22dc%22%3A13982%2C%20%22l%22%3A13982%2C%20%22le%22%3A13991%2C%20%22f%22%3A0%2C%20%22dn%22%3A0%2C%20%22dne%22%3A0%2C%20%22c%22%3A0%2C%20%22ce%22%3A0%2C%20%22rq%22%3A1%2C%20%22rp%22%3A306%2C%20%22rpe%22%3A306%7D%2C%20%22navigation%22%3A%7B%7D%7D" type="text/javascript"></script>
				
    </body>
